html {
    font-family: 'Courier New', Courier, monospace;
    color: #1b1;
}
body {
    background-color: #212a37;
}
.div{
    padding:10px;
    margin: 10px;
}
#juice{
    background-color: #1b1;
    width: fit-content;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
}
a{
    color:#1b1;
    text-decoration: none;
}
a:hover{
    color:#bb1;
    font-size: xx-large;
}
ul {
    list-style-type: square;
}
table{
    border:#1b1 5px solid
}
td{
    padding:5px;
    width: 100px;
    text-align: center;
    border: #212a37 3px solid; 
}
.aye{
    background-color: #1b1;
}
.no{
    background-color: #b11;
}